[Desktop Entry]
Version=1.0
Name=Guardian Security Suite
Comment=System Auditor and Manager
Exec=guardian
Icon=guardian-icon
Terminal=true
Type=Application
Categories=System;Security;Utility;
