#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.1
Name=Guardian
Comment=System Security and Diagnostic Dashboard
Exec=guardian
Icon=guardian-icon
Terminal=true
Type=Application
Categories=System;Security;Utility;
